# Python
__pycache__/
*.ipynb_checkpoints

# Environment
.env
*.env
*.DS_Store

# Conda and pip artifacts
*.egg-info/
*.log


# Compiled binaries
*.so
*.dll
*.dylib

# IDEs
.vscode/
.idea/

# Tool Caches
.pytest_cache/
.ruff_cache/

notebooks/outputs/chronos2_sft/
notebooks/outputs/chronos2_sft_lora/


